<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create account</title>
  <link rel="stylesheet" href="/static/styles/login.css">

    <!--fonts for sign up page-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="form-container">
    <img src="/img/logo.png" alt="Logo" class="Logo">
    <h1>Create an account</h1>
    <p class="login-text">
        <span>Already a member?</span>
        <a href="/templates/layout/login.html" class="login-link">Login here</a>
    </p>


    <form action="{{ url_for('register') }}" method="POST">
        <!--name-->
        <input type="text" id="name" name="name" placeholder="Full Name" required>
      
        <!--email-->
        <input type="email" id="email" name="email" placeholder="Email" required>
      
        <!--password-->
        <input type="password" id="password" name="password" placeholder="Password" required>
      
         <!--role Checkbox-->
        <div class="checkbox-container">
        <input type="checkbox" id="role" name="role" value="organizer">
        <label for="role">Organizer</label>
        </div>
      
        <!--submit button-->
        <button type="submit">Sign Up</button>
      </form>
      
  </div>
</body>
</html>
